.card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: rgba(255, 255, 255, 0.522);
    border-radius: 1rem;
    margin: 1rem 0;
    text-align: center;
    justify-content: ce;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 

}

.image {
    padding-top: 1rem;
    width: 8rem; /* Set width of the image */
    height: 8rem; /* Set height of the image */
    border-radius: 50%; /* Make the image circular */
    /* margin-right: 20px; */
}

.edit {
    position: relative;
    top: -1rem; 
    right: 2.2rem;
    font-size: 20px; /* Adjust the font size of the edit icon as needed */
    color: white;
    background-color: rgb(255, 62, 62);
    border-radius: 50%;
    padding: 4px;
}
.edit:hover{
    cursor: pointer;
}

.info{
    text-align: start;
    margin-left: 2.5rem;
    font-size: smaller;

}

.info span{
    margin-left: 2rem;
    /* font-weight: 500; */
    font-size: smaller;
    width: 5rem;
    text-align: start;
    color: rgb(128, 128, 128);
}
