.image{
    height: 15rem;
    background-color: rgb(230 230 230);
    border-radius: 30px;
    margin: 0px 20px;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
}

/* Image.module.css */

.cardIcon {
    font-size: 140px; /* Set the size of the icon */
    color: #0064d0; /* Set the color of the icon */
}
.allAccBtn{
    background-color: #3dffe5;
    color: rgb(79, 70, 70);
    border: none;
    border-radius: 30px;
    padding:  10px 20px;
    margin-bottom: 0px;
    margin-top: 15px;
    transition: all 0.3s ease; /* Smooth transition effect */
    font-weight: bolder;
}


.allAccBtn:hover{
    background-color: #83f143; /* Change background color on hover */
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 12px 27px;
    box-shadow: 0 0 8px #83f143; /* Add box shadow on hover */

}
img{
    width: 50%;
    border-radius: 10px;
    padding: 0px 5px;
    
}




