.logout{

    height: 30%;
    margin: 0px 5px;

}

.logoutBtn{
    font-weight: 30px;
    border: none;
    background-color: white;
    margin-left: 5px;
}
.logoutBtn:hover{
    cursor: pointer;
}
.card{
    border-top-width: 20px;
    border-top: 2px solid rgb(181, 181, 181);
    /* padding-top: 40px; */
    padding-left: 30px;
    padding-top: 10px;
    height: 100%;
    margin: 40px 10px;
}



.icon:hover{
    cursor: pointer;
}