/* Apply Roboto font family to the body */
/* body {
  font-family: Serif;
} */

/* Apply Roboto font family to specific elements */
h1, h2, h3, h4, h5, h6, span, p {
  font-family: 'Roboto', sans-serif;
}

/* p {
  font-family: 'Roboto', sans-serif;
} */

/* Example of applying different font families to different elements */
/* Header with Montserrat font */
.header {
  font-family: 'Montserrat', sans-serif;
}

/* Paragraphs with Lato font */
.text {
  font-family: 'Lato', sans-serif;
}
