.search{
    height: 47px;
    border-bottom: 2px solid rgb(181, 181, 181);
    display: flex;
    flex-direction: row;
    /* text-align: center;
    justify-content: center; */
    /* font-size: 0.6rem;  */
    /* font-weight: bold;  */
    /* background-color: blue; */
  }